services:
  - type: web
    name: bookmyshow-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_EXPIRE
        value: 7d
      - key: SEAT_LOCK_TIMEOUT
        value: 300000
      - key: PORT
        value: 10000
